Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
years_list = [1985,1986,1987,1988,1989,1990]

Q2.In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [2]:
years_list[3]

1988

In [ ]:
Q3.In the years list, which year were you the oldest?

In [3]:
max(years_list)

1990

Q4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

In [3]:
things = ['mozzarella',"cinderella","salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

Ans:elements in the list does not change

In [7]:
for i in things:
    x = i.upper()
    print(x)
things

MOZZARELLA
CINDERELLA
SALMONELLA

['mozzarella', 'cinderella', 'salmonella']

Q6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [8]:
surprise = ["Groucho","Chico","Harpo"]

Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [39]:
for words2 in surprise:
    words2[-1].lower()
    print(words2)
#Reverse of string
for words in surprise:
    r = words[::-1]
    print(" reverse of string", words,"is",r)
    
for words1 in surprise:
    c = words1.capitalize()
    print("Capitalized of words are",words1,c)

Groucho
Chico
Harpo
 reverse of string Groucho is ohcuorG
 reverse of string Chico is ocihC
 reverse of string Harpo is opraH
Capitalized of words are Groucho Groucho
Capitalized of words are Chico Chico
Capitalized of words are Harpo Harpo

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [41]:
e2f = { "dog":"chien",
      "cat":"chat",
      "walrus":"morse",
      "one":"un",
      "boy":"garcon"}
e2f

{'dog': 'chien',
 'cat': 'chat',
 'walrus': 'morse',
 'one': 'un',
 'boy': 'garcon'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [23]:
e2f["walrus"]

'morse'

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [40]:
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog',
 'chat': 'cat',
 'morse': 'walrus',
 'un': 'one',
 'garcon': 'boy'}

11. Print the English version of the French word chien using f2e.

In [42]:
f2e.values()

dict_values(['dog', 'cat', 'walrus', 'one', 'boy'])

12. Make and print a set of English words from the keys in e2f.

In [44]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus', 'one', 'boy'])

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

In [49]:
life = {'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':'','emus':''},
       'plants':'',
       'others':''}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'others': ''}

14. Print the top-level keys of life.

In [50]:
life.keys()

dict_keys(['animals', 'plants', 'others'])

15. Print the keys for life[&#39;animals&#39;].

In [51]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [53]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']