Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [90]:
def is_symmetrical(num):
    num = str(num)
    rev = num[::-1]
    if num ==rev:
        return True
    else:
        return False

In [91]:
is_symmetrical(7227)

True

In [85]:
is_symmetrical(12567)

False

In [86]:
is_symmetrical(44444444)

True

In [87]:
is_symmetrical(9939)

False

In [88]:
is_symmetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [5]:
def multiply_nums(digits):
    nums = digits.split(",")
    mul = 1
    for i in nums:
        mul = mul*int(i)
    return mul

In [7]:
multiply_nums("2, 3")

6

In [6]:
multiply_nums("1,2,3,4")

24

In [8]:
multiply_nums("54, 75, 453, 0")

0

In [9]:
multiply_nums("10, -2")

-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [31]:
def square_digits(num):
    num = str(num)
    result = ''
    for a in num:
        result = result + str(int(a)*int(a))
    return(int(result))

In [32]:
square_digits(9119)

811181

In [33]:
square_digits(2483)

416649

In [34]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [44]:
def setify(l):
    l1 = []
    for i in l:
        if i not in l1:
            l1.append(i)
            l1.sort()
    return l1

In [45]:
setify([1,3,3,5,5])

[1, 3, 5]

In [46]:
setify([4, 4, 4, 4])

[4]

In [47]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [48]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [ ]:
Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [60]:
def mean(num):
    num = str(num)
    l = len(num)
    result = 0
    for a in num:
        result = result+int(a)
    result = result/l
    return result

In [61]:
mean(42)

3.0

In [62]:
mean(12345)

3.0

In [63]:
mean(666)

6.0